*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url("https://image.freepik.com/free-vector/combination-circuit-head-shape-artificial-intelligence-moral-electronic-world-illustration_456031-123.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    color: white;
    animation: header 2s ease-in-out;
}
@keyframes header{
    0%{
        transform: translatey(-100%);
    }
}
.navbar ul li{
    list-style-type:decimal;
    margin: 0 15px;
    display: inline-block;
    padding: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.navbar ul li a:hover{
    color: red;
}